# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Environments
.env
.venv
env/
venv/
ENV/

# PyInstaller
*.spec
build/
dist/
*.manifest

# VS Code
.vscode/

# Local Assets 
# models/ 

# OS
Thumbs.db
Desktop.ini
